html{
    background-image: url(https://i.imgur.com/ttUcRy5.jpg);
    background-size: cover;
}

.header{
    display: flex;
    height: 250px;
    justify-content: space-between;
    margin:0 2% 0 2% ;
}

.h1LeaderBoard{
    color:white;
    align-self:flex-end;
    font-size: 2em;
}

.Welcomepage{
    
}

.test{
    height: 60vh;
}

.buttons{
    display:flex;
    margin-bottom:0px;
    justify-content: space-around;
    align-self: flex-end;
    background-size: 10px;
    background-color: #575757;
}


.scoreBoard{
    background-color: rgba(182, 182, 182, 0.2);
    height : 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px yellow;

}

.footer{
    display:flex;
}

.sectionButton{
    height:500px;
    width:150px;
    border-radius:25px;
    background-color:red;
    align-self: center;
}



.retourButton{
    text-decoration: none;
    color:white;

}