html{
    background-image: url(https://i.imgur.com/rMf9LwT.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center center;
}

.header{
    display: flex;
    height: 250px;
    justify-content: space-between;
    margin:0 2% 0 2% ;
}

.header>a>img{
    width: 250px;
}

.h1LeaderBoard{
    color:white;
    align-self:flex-end;
    font-size: 2em;
}


.SectionbuttonPlay{
    background-size: 200em;
    background-color: #D7AC13;
    height: 65%;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    font-size: 2.6em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
}
.Sectionbutton{
    background-size: 200em;
    background-color: #575757;
    height: 65%;
    text-align: center;
    vertical-align: middle;
    font-size: 1.6em;
    border-radius: 10px;
}

.test{
    height: 60vh;
}

.Bouttons{
    height: 60%;
    width: 9%;
    text-decoration: none;
    color: black;
}

.buttons{
    display:flex;
    margin-bottom:0px;
    justify-content: space-around;
    align-self: flex-end;
    height: 10vh;
    align-items: center;
}
.scoreBoardIndicator{
   
    display: flex;
    color: white;
    justify-content: space-around;
    border-bottom:solid 1px yellow;
}

.scoreBoard{
    background-color: rgb(0 0 0 / 73%);
    height : 500px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px yellow;
    overflow: auto;

}

.footer{
    display:flex;
}

.sectionButtonRetour{
    background-color: #D7AC13;
    height: auto;
    text-align: center;

}

.retourButton{
    text-decoration: none;
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    font-size: 200%;

}

.participant{
    display: flex;
    color:white;
    justify-content:space-around;
}



.question {
    max-width: 400px;
    background: rgba(255,255,255,0.45);
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.225);
    padding: 15px 20px;
    border-radius: 10px;
    top: 20%
}

.question h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: black;
}


.left{
    position: absolute;
    left:  3%;
}

.right{
    position: absolute;
    right: 3%;
}


@media screen and (max-width:414px){
    .test{
        display:none;
    }
    .buttons{

        display:flex;
        flex-direction:column;
        width: 390px;
        height: 60vh;
        justify-content: space-between;
        }  
        
    .Sectionbutton{
        width: 100%;
        margin: 0;
    }
    .Bouttons{
        margin-top: 50px;
        width: 150px;
    }

    .SectionbuttonPlay{
        width: 150px;
    }

    /*Suite*/

    .header{
        height: 75px;
    }
}

