html, body{
    margin: 0;
    padding: 0;

    }

body{
    background-image: url(https://i.imgur.com/ttUcRy5.jpg);
    background-repeat: no-repeat;
	background-size: cover;
    }

.ScrollBar{
    height: 100vh;
    overflow: auto;
    
    
}

h1{
    margin-left: 6%;
    text-align: center;
    color: rgb(240, 248, 255);
    width: 100%;
    font-size: 200%;
    }

#trait_dessus
{
border-top: 1px solid #000;
width : 700px;
} 
.Question{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

details{
    text-align: center;
    margin-top: 25px;
    color: rgb(240, 248, 255);
    background-color: rgba(124, 120, 120, 0.6);
    width: 600px;
    }

summary{
    background-color: rgba(45, 45, 45, 0.6);
    padding: 5px 15px;
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    }

p{
    margin-left: 25px;
    color: rgb(240, 248, 255);
    }

ul{
    margin-left: 25px;
    color: rgb(240, 248, 255);
    
    }

.footer{
    position:inherit;
    margin-top: 10px;
    margin-right:10px;
    }

.TopPage{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    }
    
.sectionButton{
    height:40px;
    width:150px;
    background-color: #D7AC13;
    text-align: center;
    }
    
.retourButton{
    text-decoration: none;
    color: white;
    margin-left:auto;
    margin-right:auto;
    margin-top: 10px;
    font-size: 200%;
    margin-bottom: 10px;
    }
    details[open] summary ~ * {
        animation: open .5s ease-in-out;
      }
      
      details[close] summary ~ * {
        animation: close .5s ease-in-out;
        transform: translateX(-20px);
      }
      #content {
        overflow: visible;

        height: 100%;
        transition: transform 100ms ease-out;
        transform: translateX(-10px);

    }

      @keyframes open {
        0% {opacity: 0; margin-left: -20px}
        100% {opacity: 1; margin-left: 0px}
      }
      
      @keyframes close {
        0% {opacity: 1; margin-left: 0px;}
        100% {opacity: 0; margin-left: -20px}
      }